@import 'tailwindcss';

:root {
  --darkGold: #aa6c39;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
}

html.lenis {
  scroll-behavior: smooth !important;
}

.darkGold {
  color: var(--darkGold);
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-style: normal;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}